<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write your blogs here</title>
    <style>
        body{
            background-color: #121212;
        }
    </style>
    
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="home">
                <button>Home</button>
            </div>
            <div class="about">
                <button>About</button>
            </div>
            <div class="blog">
                <button>Write a blog</button>
            </div>
            <div class="singup">
                <button>Sign up</button>
            </div>
            <div class="login">
                <button>Login</button>
            </div>
        </div>
    </nav>

    
</body>
</html>