<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body{
            background-color: #292929;
        }
        .box{
            color:aliceblue;
            width: 500px;
            height: 500px;
            position: fixed;
            top: 20px;
            left: 400px;
            border: 5px solid beige;
            border-radius: 8px;
        }
        .heading{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:#ffffff;
            text-align: center;
        }
        form{
            position: relative;
            top: 30px;
        }
        #username{
            position: fixed;
            top: 150px;
            left: 450px;
            width: 400px;
            height: 30px;
            border-radius: 7px;
            border: orangered solid 2px ;
            background-color: #292929;
            color: #ffffff;
        }
        /* Fixed the duplicate #password selector */
        #password{
            position: fixed;
            top: 230px;
            left: 450px;
            width: 400px;
            height: 30px;
            border-radius: 7px;
            border: orangered solid 2px;
            background-color: #292929;
            color: #ffffff;
        }
        #email{
            position: fixed;
            top: 310px;
            left: 450px;
            width: 400px;
            height: 30px;
            border-radius: 7px;
            border: orangered 2px solid;
            background-color: #292929;
            color: #ffffff;
        }
        #pnumber{
            position: fixed;
            top: 400px;
            left: 450px;
            width: 400px;
            height: 30px;
            border-radius: 7px;
            border: orangered solid 2px;
            background-color: #292929;
            color: #ffffff;
        }
        #submit{
            position: fixed; top: 500px ;left: 550px; font-family: 'Times New Roman', Times, serif; font-size: 22px; border-radius: 16px; width: 200px; height: 40px;cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="heading">
            <h1><%= Title %></h1>
        </div>
        <div class="data">
            <form action="/signup" method="POST">
                <label for="username" style="position: fixed; top: 115px ;left: 450px; font-family: 'Times New Roman', Times, serif; font-size: 23px;">Username</label>
                <input type="text" name="username" id="username" required>
                <label for="password" style="position: fixed; top: 195px;left: 450px; font-family: 'Times New Roman', Times, serif; font-size: 23px;">Password</label>
                <input type="password" name="password" id="password" required>
                <label for="Email"style="position: fixed; top: 280px ;left: 450px; font-family: 'Times New Roman', Times, serif; font-size: 23px;">E-mail</label>
                <input type="email" name="email" id="email" required>
                <label for="Phone-Number" style="position: fixed; top: 360px ;left: 450px; font-family: 'Times New Roman', Times, serif; font-size: 23px;"> Phone Number</label>
                <input type="number" name="pnumber" id="pnumber" required>
                <input type="submit" value="Sign up" id="submit">
            </form> 
        </div>
    </div>
</body>
</html>